// Specific CSS for your home-page


.button-container {
  display: flex;
  // flex-direction: column;
  align-items: center;
}

.btn-primary {
  display: flex;
  margin: 10px;
  // height: 50px;
  align-items: center;
  justify-content: center;
  // font-size: x-large;
  font-size: 16px;
}

.btn-home {
  display: flex;
  margin: 10px;
  width: 190px;
  background-color: #176B87;
  color: white;
  align-items: center;
  font-size: 16px;
  border-radius: 100px;
}


/* Ensure the body takes up the full height of the viewport */
.home-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

}

/* Style for the bottom item */
.home-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}


#home .navbar {
  display: none !important;

}


.btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  background-color: #176B87;
  color: white;
  font-size: 16px;
}

.fa-li {
color:  #9E0059;
}
