<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex align-items-center">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
       <h2>The Healthbook</h2>
    <% end %>
  </div>
</div>
