<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex align-items-center">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
       <h2 style="font-size: 28px; color: rgb(0,130,153);">The Healthbook</h2>
    <% end %>
  </div>
</div>
