<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex align-items-center border-bottom border-primary">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand " do %>
       <h1 style="font-size: 35px ">HealthBook</h1>
    <% end %>
  </div>
</div>
