<div class='main'>
  <h3 style="text-align: center; mb-3;">Edit doctor</h3>
  <%= link_to doctors_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</div>

<%= render "form", report: @doctor %>
