.appointments {
  list-style-type: none;
  padding-left: 0;
  z-index: -1;
  margin-top: 12px;
}

.appointment-card {
  overflow: hidden;
  height: 70px;
  // background: #D9D9D9;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  position:relative;
  border-radius: 4px;
}

.appointment-date{
  background-color: #176B87; //rgb(0,122,255);
  height: 100%;
  width: 15%;

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appointment-details {
  justify-items: start;
  padding: 8px;
  width: 85%;
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0px;
  color: #176B87;
  max-height: 100%;
  overflow: hidden;
  display :flex;
  flex-direction: column;
  height: 100%;
  z-index: 0;
}

.appointment-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  flex-shrink: 0;
}

.appointment-specialty {
  color: #9e0059;//rgb(88,86,214);
  font-size: 12px;
}
