
.btn.btn-primary, .btn.btn-info {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius:    20px;
  font-weight: bold;
  }

.btn-home {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius:    20px;
  display: flex;
  justify-content: between;

}
