
.btn.btn-primary, .btn.btn-info {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius:    20px;
  }

.btn-home {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius:    20px;
  display: flex;
  justify-content: between;

}
