
.btn.btn-primary, .btn.btn-info {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px;
  font-weight: bold;
  }

.btn-home {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius:20px;
  display: flex;
  justify-content: between;

}


.btn-select-doctors {
  border-radius:0.375rem;
  display: flex;
  justify-content: between;
  margin: 0 auto;
  width: 45%;
  border-width: 1px;
  border-style: solid;
  border-color: #dee2e6;
}

.doctors-button-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;

}
