.doctor.card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 370px;
  margin: 20px auto;
  padding: 15px;
}


.doctor-card-text {
  color: #9e0059;
  text-align: right;
  font-size: 12px;
  position: absolute;
  top: 40px;
  right: 10px;
  margin-left: 90px;
  margin-top: 0px;
}

.doctor-card-title {
  color: #176B87;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  position: absolute;
  top: 10px;
  right: 10px;
}
