.doctor.card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 370px;
  margin: 20px auto;
  padding: 15px;
}


.card-text {
  font-weight: bold;
  color: #176B87;
  text-align: right;
  position: absolute;
  top: 40px;
  right: 10px;
  margin-left: 90px;

}

.card-title {
  color: #176B87;
  text-align: right;
  position: absolute;
  top: 10px;
  right: 10px;
}
