.hero-home {
  background-size: cover;
  background-position: top;
  padding: 10px;
  height: 50vh;
  //align-items: center;
  position: relative;
}

.hero-container {
  margin-top: 80px;
  //text-align: center;
  align-items: center;
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 80%;

}

.hero-container h1 {
  color: white;
  font-weight: bold;
  text-align: left;
}

.hero-container p {
  font-size: 16px;
  color: gray;
  //font-weight: bold;
  font-style: italic;
  line-height: 20px;
  width: 80%;

}

.hero-container h1 {
  font-size: 36px;
  // color: #9E0059;
  color:#176B87;

}

#sign-up-btn {
  background-color: #9E0059;
}

.button-container {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
}
