.inline-list {
  padding: 0;
  list-style: none;
  margin-top: 12px;
  // line-height: 30px;
  margin-bottom: 8px;
  align-items: center;
}

.inline-list li {
  display: inline;
  margin-left: 10px;
}
