.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background: white;
  
}

.navbar-lewagon {
  justify-content: space-between;

  background: white;// #176B87;
  position: sticky;
  top: 0;
  z-index: 2;
  color: #176B87;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  border-bottom: solid 2px;
}
