.reports {
  list-style-type: none;
  padding-left: 0;
  z-index: -1;
  margin-top: 12px;
}

.report-card {
  overflow: hidden;
  height: 70px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  position:relative;
  border-radius: 4px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  }

.report-date > div > div{
  display: flex;
  justify-content: center;
}

.report-date {
  color: black;
}

.report-icon {
  background-color: #176B87; //rgb(0,122,255);
  height: 100%;
  width: 15%;
  object-fit: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.report-icon i {
  font-size: 25px;;
}

.report-details {
  justify-items: start;
  padding: 8px;
  width: 85%;
  font-size: 12px;
  line-height: 1.4;
  // opacity: .7;
  margin-bottom: 0;
  margin-top: 0px;
  color: #176B87;
  max-height: 100%;
  overflow: hidden;
  display :flex;
  flex-direction: column;
  height: 100%;
  z-index: 0;
}

.report-head {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  flex-shrink: 0;
}

.report-edit {
  flex-shrink: 0;
  display: flex;
  justify-content: end;
  z-index: 2;
}


.report-category {
  color: #9e0059;//rgb(88,86,214);
  font-size: 12px;
}

.category-tag {
  background-color: white;
  color: rgb(50,173,230);//#176B87;
  padding: 4px 6px;
}

.report-content {
  max-height: 30%;
  flex-grow: 1;
  overflow: hidden;
  color: rgb(100,100,100);
}


.all-button {
  background-color:   #9e0059; //#c1121f; //rgb(0,130,153);// rgb(0,130,153);
  height: 100%;
  object-fit: cover;
  color: white;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 4px;

}

.all-button p {
  text-decoration: none;
  margin-bottom: 0;
  font-size: 12px;
}


.sticky-head {
  position: sticky;
  top: 77px;
  z-index: 2;
  background: white;
  padding: 16px;
  padding-bottom: 0;

}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

}
.scrolling-wrapper::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}


.add-button-div {
  display: flex;
  justify-content: end;
}

#dropdownMenuButton {
  border-radius: 4px;
}

.report-title p {
  color: #176B87;
}
