.reports {
  list-style-type: none;
  padding-left: 0;

}

.report-card {
  overflow: hidden;
  height: 70px;
  // background: #D9D9D9;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  position:relative;
  border-radius: 4px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  }

.report-date > div > div{
  display: flex;
  justify-content: center;
}

.report-date {
  color: black;
}

.report-icon {
  background-color: rgb(0,122,255);//rgb(0,130,153);
  height: 100%;
  width: 15%;
  object-fit: cover;
  color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.report-icon i {
  font-size: 25px;;
}

.report-details {
  justify-items: start;
  padding: 8px;
  width: 85%;
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0px;
  color: #176B87;
  max-height: 100%;
  overflow: hidden;
  display :flex;
  flex-direction: column;
  height: 100%;
  z-index: 0;
}

.report-head {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  flex-shrink: 0;
}

.report-edit {
  flex-shrink: 0;
  display: flex;
  justify-content: end;
  z-index: 2;
}


.report-category {
  color: rgb(0,130,153);
}

.category-tag {
  background-color: #D9D9D9;
  color: rgb(50,173,230);//#176B87;
  padding: 4px 6px;
}

.report-content {
  max-height: 30%;
  flex-grow: 1;
  overflow: hidden;
}


.all-button {
  background-color: rgb(211,15,69);// rgb(0,130,153);
  height: 100%;
  object-fit: cover;
  color: #D9D9D9;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
}

.all-button p {
  text-decoration: none;
  margin-bottom: 0;
}
