// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



body {
  color: #FFF6E9;
  font-family: "Open Sans", sans-serif;
}

h2, h3, h1 {
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 650;
}
