// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



body {
  color: black;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This ensures that the body stretches to at least the height of the viewport */
  overflow: scroll;
}




h2, h3, h1 {
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 650;
  color: #176B87;
}

.content {
  flex: 1;
  margin-bottom: 100px;
}
