<%# swiper start %>
<div class="swiper-container" data-controller="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <%# all the content of the appointment card%>
      <div class="adjusted-appointment_card" style="width:90%;">
        <%= render "appointment_card", appointment: appointment%>
      </div>
      <%# end of all the content of the appointment card%>
    </div>
    <div class="swiper-slide">
      <div class="appointment-card p-3 appointment-card-buttons">
        <%= link_to edit_appointment_path(appointment) do %>
          <i class="fa-solid fa-pen-to-square  text-align-center"></i>
        <% end %>
        <%= link_to appointment_path(appointment), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"} do %>
          <i class="fa-regular fa-trash-can ms-1 text-align-center"></i>
        <% end %>
      </div>
    </div>

  </div>
  <!-- Pagination -->
  <!-- Navigation -->
</div>
<%# swiper end %>
