<h2 align="center">Your Appointments</h2>
<h3 align="center">upcoming</h3>

<div class="appointment-cards">
<% @appointments.each do |appointment| %>
<div class="appointment card" style="width: 18rem;">
    <div class="card-body">
    <div class="date">
      <h3 class="card-title"><%= appointment.appointment_date %></h3>
      <h3 class="card-title"><%= appointment.appointment_date %></h3>
    </div>
      <div>
        <p class="card-text"><%= appointment.appointment_date %></p>
        <p class="card-subtitle mb-2 text-muted"><%= appointment.doctor.first_name %></p>
        <a href="#" class="fa-regular fa-pen-to-square"></a>
        <a href="#" class="fa-solid fa-trash"></a>
      </div>
    </div>
  </div>
<% end %>
</div>


<button  type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-info">Secondary</button>
