<div class="main">

  <div class="d-flex align-items-center mt-5">
    <%= link_to reports_path do %>
      <i class="fa-solid fa-arrow-left ms-3"></i>
    <% end %>
    <div class="mx-auto text-center">
      <h3>New report</h3>
    </div>
  </div>

  <%= render "form", report: @report %>
</div>
